<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS\} %5p %c:%L - %m%n" />
		</layout>
	</appender>
	<appender name="DEBUG" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:\\applelogs\\apple-debug.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="500MB" />
		<param name="MaxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS\} %5p %c:%L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="DEBUG" />
		</filter>
	</appender>
	<appender name="INFO" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:\\applelogs\\apple-info.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="500KB" />
		<param name="MaxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS\} %5p %c:%L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>
	<appender name="WARN" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:\\applelogs\\apple-warn.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="500KB" />
		<param name="MaxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS\} %5p %c:%L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="WARN" />
		</filter>
	</appender>
	<appender name="ERROR" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:\\applelogs\\apple-error.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS\} %5p %c:%L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>

	<category name="org.hibernate.SQL">
		<priority value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</category>
	<category name="java.sql">
		<priority value="DEBUG" />
		<appender-ref ref="ERROR" />
	</category>
	<category name="com.ibatis">
		<priority value="ERROR" />
		<appender-ref ref="STDOUT" />
	</category>
	<category name="java.lang">
		<priority value="DEBUG" />
		<appender-ref ref="ERROR" />
	</category>

	<logger name="DESIGNATED" additivity="false">
		<level class="org.apache.log4j.Level" value="DEBUG" />
		<appender-ref ref="activexAppender" />
	</logger>

	<root>
		<priority value="info" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ERROR" />
	</root>
</log4j:configuration> 