<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<style type="text/css">
body{
	vertical-align:middle;
}

table{
	text-align:center;
	background-image:url(/castalia-major-web/image/bg_404.gif);
	background-repeat:no-repeat;
	background-position:center;
	width:500px;
	height:400px;
}

.td_goto{
	background-repeat:no-repeat;
	background-position:center;
	width:50px;
	height:40px;
}

a{
	border:none;
}
</style>
</head>

<body>
<table align="center">
	<tr>
		<td width="350px" height="230px"></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td class="td_goto"><a href="#"><img width="50px" height="40px" src="/castalia-major-web/image/goto_404.gif"/></a></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
</body>
</html>
