<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper       
	PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"       
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"> 
	<mapper namespace="com.castalia.apple.model.demo.mapper.IDemoMapper">
		<insert id="insertDemoEO" parameterType="com.castalia.apple.model.demo.entry.DemoEO">
			<selectKey resultType="java.lang.Long" keyProperty="demoId" order="BEFORE">
				select seq_demo_id.nextval as demoId from dual
			</selectKey>
			insert into tbl_demo (demoId, userName, password, createDate, updateDate) values (#{demoId}, #{userName}, #{password}, #{createDate}, #{updateDate})
		</insert>
		
		<resultMap type="com.castalia.apple.model.demo.entry.DemoEO" id="DemoMap">
			<id column="demoId" property="demoId"/>
			<result column="userName" property="userName"/>
			<result column="password" property="password"/>
			<result column="createDate" property="createDate"/>
			<result column="createUser" property="createUser"/>
			<result column="updateDate" property="updateDate"/>
			<result column="updateUser" property="updateUser"/>
		</resultMap>
		
		<select id="getDemoEO" parameterType="String" resultMap="DemoMap">
			select * from tbl_demo where 1 = 1
			<if test="userName != null and userName != ''">
				and userName = #{userName}
			</if>
		</select>
	</mapper>